<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 使用mybatis嵌套查询方式进行关联查询时，使用mybatis的延迟加载可以在一定程度上提高查询效率 -->
	<settings>
		<!-- 打开延迟加载的开关 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 将积极加载改为按需加载 -->
		<setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	<!-- 定义别名 -->
	<typeAliases>
		<package name="com.xiaofei.po"/>
	</typeAliases>
	<!-- 映射文件的位置 -->
	<mappers>
		<mapper resource="com/xiaofei/dao/MyUserMapper.xml"/>
	</mappers>
</configuration>